einops
fairseq
flask
flask_cors
gin
gin_config
librosa
local_attention
matplotlib
praat-parselmouth
pyworld
PyYAML
resampy
scikit_learn
scipy
SoundFile
tensorboard
tqdm
wave
FreeSimpleGUI
sounddevice
gradio
noisereduce
onnxruntime-directml
torchfcpe
faiss-cpu
torchcrepe==0.0.20